---
# Only the main Sass file needs front matter (the dashes are enough)
---

.site-title::before {
	content: url("/assets/eoss_small.png");
	display: inline-block;
	position: relative;
	width: 105px;
	top: 5px;
}
